 /* Changes CSS Style  */
 
 /* .para-style{
    color: red;
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
}  */

/* Event listener  */
.my-style{
    color: tomato;
    font-size: 3rem;
}